.round {
    border-radius: 50%;
}
.userpic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.icon-big {
    width: 4rem;
    height: 4rem;
}
.nav a {
    color: #DAF7DC !important;
}
.nav {
    background-color: #336699 !important;
}